{% extends 'base.html' %}

{% block content %}
<body>
    <h1 align="middle"> Scegli un'immagine (in formato gcode) da caricare </h1>
    <br><br><br>
    <h2> 
    <form action = "/picture" align="middle" method="POST" enctype="multipart/form-data">
    <div class = 'form-group'>
		<label for = "Example name"> Nome: </label>
        <input type="text" name="name">
        <br><small> (Questo è il nome che verrà assegnato all'immagine) </small>
    </div>
    <br>
    <div class = 'form-group'>
		<label for = "Example name"> File: </label>
        <input type=file type="file" name=file id="file">
        <br><small> (Attenzione: dev'essere in formato gcode) </small>
    </div>
    <br>
        <button  type = "submit"> Invia </button>
    </form>
    </h2>
</body>
{% endblock %}
